body{
	background: black;
	font-family: Papyrus;
	padding: 15px;
	color: gray;
}
a:hover {
  background-color: grey;
}
a:active {
  color: black;
}
h1{
	height: 50px;
	width: 100%;
	margin: 0px;
	text-align: center;
	line-height: 50px;
	color: red;
	text-shadow: 7px 4px 5px red;
	border-bottom: 1px solid gray;
}
h2{
	color: red;
}
ul li{
	list-style-type: none;
}
img{
	display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
#lista ul li{
	font-family: "Lucida Handwriting";
	padding-left: 2rem;
	background-image: url(images/pacman.png);
	background-position: 0 0;
	background-size: 1.2rem 1.2rem;
	background-repeat: no-repeat;
	list-style-type: none;
}
#logo img{
	width: inherit;
	margin-left: inherit;
	margin-right: inherit;
}